.yt-tag {
    height: 50px;
    line-height: 20px;
    text-align: center;
    padding: 15px 20px;
    background: #f0f2f5;
    border-radius: 30px;
    min-width: 80px;
    margin: 30px 10px 0 10px;
    color: #333;
    font-size: 24px;
}